:root {
    --dark-theme-background-color: #060606;
    --light-theme-background-color: hsl(0, 0%, 96%);
    --dark-theme-button-bg-color: #191919;
    --light-theme-button-color: #E0E0E0;
    --dark-theme-text-color: #dbdbdb;
}
.App {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 10px;
    /* LIGHT THEME BACKGROUND COLOR */
    /* background-color: hsl(0, 0%, 96%); */ 
    background-color: var(--dark-theme-background-color);
    max-height: 100vh;

    /* overflow: scroll; */
}
.App .Page {
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    /* En tant qu'enfant de .App */
    flex-grow: 1;
}