legacy/
.vercel

# node_modules
node_modules/

# production files
/server/dist/
/api/dist/
# /api/src/routes/
/client/dist/
# test data
/data/

# server data saves
server/data/saves/

# exclude: test images
img/*
# include: github preview image
!img/preview_0.1_SPA 3.jpg

# environnement variables
*.env

# other client apps
vanilla-client/

# various obselete files
/client/src/components/ClassificationFilterItem/
