.RightMenu {
    width: 340px;
    padding: 8px 24px 0 16px;
    /* padding: 8px; */
    /* border-left:1px solid #6a6a6a; */
    /* max-height: 100vh; */
    overflow: scroll;
}
.RightMenu.invisible {
    display: none;
}