footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0 10px;
    color: var(--dark-theme-text-color);
    font-family: 'Instrument Sans', sans-serif;
}

footer .footer-page-toggler {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: fit-content;
    gap: 6px;
    margin: 0;
    padding: 0;
}

footer .footer-page-toggler p {
    font-size: 14px;
    margin: 8px 0;
}

footer .footer-page-toggler .toggler-icon {
    font-size: 18px;
}

footer .footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    gap: 8px;
}

footer .footer-links a,
footer .footer-links span {
    font-size: 14px;
    color: hsl(200, 55%, 50%);
}

footer .footer-links a .icon {
    font-size: 17px;
}